# Dependencies
node_modules
npm-debug.log

# Build output
dist

# Environment files
.env
.env.dev
.env.prod

# Git
.git
.gitignore

# Docker files
Dockerfile.dev
docker-compose.yml
docker-compose.prod.yml

# OS / IDE
.vscode
.idea
.DS_Store

# Tests (optional)
coverage